<ol class="sneaker-post-list" reversed{% if start %} start="{{ start }}"{% endif %}>
{% for post in posts %}
  <li class="sneaker-post-item">
    
    {% if post.data.thumbnail %}
      <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }} thumbnail" class="sneaker-post-thumb">
    {% endif %}
    
    <div class="sneaker-post-details">
      <a href="{{ post.url | url | clean }}" class="sneaker-post-title">
        {% if post.data.title %}{{ post.data.title | markdown | safe }}{% else %}<code>{{ post.url }}</code>{% endif %}
      </a>
      
      <div class="sneaker-post-meta">
        <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        {% for tag in post.data.tags %}
          <a href="/blog/tags/{{ tag | slug }}" class="tag">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>

  </li>
{% endfor %}
</ol>